@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  overflow: hidden;
}
/* DEBUG */
/* * {
  border: 2px solid red;
} */

::selection {
  background: #ffa125;
  color: white;
}
::-webkit-scrollbar {
  background: #fbfbfb;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #40aafd;
}
@font-face {
  font-family: onRegular;
  src: url("./assets/fonts/OnService-Regular.ttf");
}
@font-face {
  font-family: onMedium;
  src: url("./assets/fonts/OnService-Medium.ttf");
}
@font-face {
  font-family: onSemiBold;
  src: url("./assets/fonts/OnService-SemiBold.ttf");
}
@font-face {
  font-family: onBold;
  src: url("./assets/fonts/OnService-Bold.ttf");
}

body {
  font-family: onSemiBold;
}
.from_right::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #40aafd;
  transform-origin: left;
  z-index: 2;
  animation: 0.6s getlines linear forwards;
  animation-delay: 0.5s;
}
.from_left::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #40aafd;
  transform-origin: right;
  z-index: 4;
  animation: 0.5s getlines linear forwards;
}

@keyframes getlines {
  from {
    transform: scaleX(100%);
  }
  to {
    transform: scaleX(0%);
  }
}
@keyframes opacityShow {
  from {
    transform: translateY(50px);

    opacity: 0;
  }
  to {
    transform: translateY(-0px);

    opacity: 1;
  }
}

@keyframes downAnim {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.down {
  opacity: 0;
  transform: translateY(-120px);
  animation: 0.8s downAnim ease-in-out forwards;
  animation-delay: 0.5s;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
.hovEffects {
  position: relative;
  overflow: hidden;
}

.hovEffects::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: -1;

  transform: translateX(40%) translateY(40%) rotate(90deg);
  transition: transform 0.6s;
}
.hovEffects:hover:after {
  transform: translateX(40%) translateY(10%) rotate(60deg);
}

.thenShow {
  opacity: 0;
  animation: 0.8s opacityShow ease-out forwards;
  animation-delay: 0.6s;
}
.anim1 {
  opacity: 0;
  transform: translateY(150px);
}
.anim2 {
  opacity: 0;
  transform: translateY(-100%);
}
.opshow {
  opacity: 0;
  animation: 1.2s opacityShow linear forwards;
  animation-delay: 0.8s;
}
.afterC::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  outline: solid 20px rgba(64, 171, 253, 0.15);
  transform: translate(13px, 13px);
}
.afterS::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  outline: solid 20px rgba(64, 171, 253, 0.15);
  transform: translate(13px, 13px);
}
.shdlo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 10px;
  width: 100%;
  background-color: #55b5ff;
}

.afterLines::after,
.adsLines::after,
.websitesLines::after,
.designsLines::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 5px;
}
.afterLines::before,
.adsLines::before,
.websitesLines::before,
.designsLines::before {
  content: "";
  position: absolute;
  right: 22px;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 5px;
}

.afterLines::after {
  background-color: rgba(255, 255, 255, 0.1);
}
.adsLines::after {
  background-color: rgba(255, 151, 31, 0.1);
}
.websitesLines::after {
  background-color: rgba(32, 212, 44, 0.1);
}
.designsLines::after {
  background-color: rgba(155, 74, 255, 0.1);
}
.afterLines::before {
  background-color: rgba(255, 255, 255, 0.1);
}
.adsLines::before {
  background-color: rgba(255, 151, 31, 0.1);
}
.websitesLines::before {
  background-color: rgba(32, 212, 44, 0.1);
}
.designsLines::before {
  background-color: rgba(155, 74, 255, 0.1);
}
